.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
}

.area1 {
    grid-column: span 3;
    /*background-color: #8a81fe;*/
    padding: 10px;
}
.area2, .area3, .area4 {
    /*background-color:#e6ade2;*/
    padding: 10px;
}
.area1 img
{
    float: left;
    margin-right:5em;
    width: 25%;
    height: 100%
}
.area2 img,
.area3 img,
.area4 img{
    width:75%;
    height: 75%;
}
.area1 h1{
    font-size: 3em;
    /*font-family: cursive;*/
}